<!--{% import "bootstrap/utils.html" as utils %}-->
{% extends "base.html" %}
{% block title %}Movies{% endblock %}
{% block body%}

<div id="xxxxxx">
	<div class="container">
		<div id="main123" style="display:inline">
			<div class="maincenter">
				<ul id="post_container" class="masonry clearfix" >
					{% for movie in movies %}
                        <li class="post box row fixed-hight"  >
                            <div class="post_hover">
                                <div class="thumbnail">
                                    <a href="https://www.imdb.com/title/{{movie.imdb_id}}/?ref_=fn_al_tt_1" class="zoom" rel="bookmark" title="{{movie.title}}"> <img src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" width="188" height="270" alt="Sky Hunter" />
                                    </a>
                                </div>
                                <div class="article" align="center">
                                    <h2 style="text-align:center">
                                        <a style="text-align:center" href="https://www.imdb.com/title/{{movie.imdb_id}}/?ref_=fn_al_tt_1" rel="bookmark" title="{{movie.title}}">{{movie.original_title}} ({{movie.release_date}})</a>
                                    </h2>
                                </div>
                                <div class="info">
                                    <h2 style="text-align:center">IMDB: {{movie.imdb_rating}} </h2>
                                </div>
                            </div>
                        </li>
                    {% endfor %}

				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}